
<form autocomplete="off" action="/admin/edit-product" method="post" enctype="multipart/form-data" class="w-full h-screen">


    <div class="py-6 px-20 w-full flex flex-col float-left" >

        <label for="text" class="block text-slate-700 text-xs font-medium mb-2 mt-0">Product name</label>
        <input value="{{product.description}}" class="text-xs font-medium bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="text" name="description">

        <label for="text" class="block text-slate-700 text-xs font-medium mb-2 mt-3">Product short name</label>
        <input value="{{product.name}}" class="text-xs font-medium bg-whit pr-16 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="text" name="name" maxlength="30">

        <label for="text" class="block text-slate-700 text-xs font-medium mb-2 mt-3">Product Category</label>
       <select class="text-xs font-medium bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300 cursor-pointer" type="text" name="category">
           {{#if product.category}}
            <option value="{{product.category}}">{{product.category}}</option>
            {{else}}
            <option value="nothing">Select Category</option>
           {{/if}}
            <option value="mobile">Mobile</option>
            <option value="fashion">Fashion</option>
            <option value="electronics">Electronics</option>
            <option value="beauty">Beauty</option>
            <option value="home">Home</option>
            <option value="appliances">Appliances</option>
            <option value="kids&toys">Kids&Toys</option>
            <option value="watch">Watch</option>
            <option value="laptop">Pc&Laptops</option>
            <option value="sports">Sports</option>
            <option value="shoe">Shoe</option>
        </select>

        <label for="text" class="block text-slate-700 text-xs font-medium mb-2 mt-3">Original price</label>
        <input value="{{product.maxprice}}" class="text-xs font-medium font-sans bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="text" name="maxprice">

        <label for="text" class="block text-slate-700 text-xs font-medium mb-2 mt-3">Deal price</label>
        <input value="{{product.dealprice}}" class="text-xs font-medium font-sans bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="text" name="dealprice">

        <label for="text" class="block text-slate-700 text-xs font-medium mb-2 mt-3">Discount persantage</label>
        <input value="{{product.offerpers}}" class="text-xs font-medium font-sans bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="text" name="offerpers" placeholder="ex: 25">

        <label for="text" class="block text-slate-700 text-xs font-medium mb-2 mt-3">Size (optional)</label>
        <input value="{{product.size}}" class="text-xs font-medium font-sans bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="text" name="size" placeholder="ex: XXL">

        <label for="text" class="  text-slate-700 text-xs font-medium mb-2 mt-3">stock</label>
        <input id="checkbox1" class="cursor-pointer text-xs font-medium font-sans bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="checkbox" checked name="stock">

        <img src="/product-images/{{product._id}}.jpg" alt="" class="h-32 w-36 mt-6">

         <div class="form-input mt-6 mb-4 flex justify-center relative shadow-none rounded-md bg-slate-100 h-60">
        <div class="preview">

        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="absolute right-20 top-12 folder-svg" width="104" height="104" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Iconly/Bold/Image</title>
    <g id="Iconly/Bold/Image" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Image" transform="translate(2.000000, 2.000000)" fill="#0065ff" fill-rule="nonzero">
            <path d="M14.3338177,0 C17.7231047,0 20,2.37811294 20,5.91672095 L20,14.083279 C20,17.6218871 17.7231047,20 14.3328156,20 L5.66618229,20 C2.27689532,20 0,17.6218871 0,14.083279 L0,5.91672095 C0,2.37811294 2.27689532,0 5.66618229,0 L14.3338177,0 Z M15.4365921,10.5500516 C14.3646473,9.88132095 13.5370577,10.8204334 13.3138196,11.120743 C13.0986262,11.4107327 12.9136001,11.7306502 12.7185182,12.0505676 C12.2418748,12.8400413 11.6958467,13.750258 10.7506045,14.2796698 C9.37698673,15.0402477 8.33420365,14.3395253 7.58404341,13.8297214 C7.30248193,13.6398349 7.02896505,13.4602683 6.75645376,13.3405573 C6.0847285,13.0505676 5.48037689,13.380805 4.58340244,14.5201238 C4.11279253,15.1155831 3.64620492,15.7058824 3.17358386,16.2941176 C2.8910168,16.6460268 2.95839044,17.1888545 3.33950402,17.4241486 C3.94787794,17.7987616 4.68999357,18 5.52864457,18 L5.52864457,18 L13.9563832,18 C14.432021,18 14.9086643,17.9349845 15.363185,17.7863777 C16.3868621,17.4520124 17.1993681,16.6862745 17.6237215,15.6749226 C17.9817068,14.8245614 18.1556716,13.7925697 17.8208146,12.9339525 C17.7091955,12.6491228 17.5422698,12.3839009 17.3079704,12.1506708 C16.693563,11.5407637 16.1193787,10.9711042 15.4365921,10.5500516 Z M6.49885818,4 C5.12021248,4 4,5.12173038 4,6.5 C4,7.87826962 5.12021248,9 6.49885818,9 C7.87649831,9 8.99771636,7.87826962 8.99771636,6.5 C8.99771636,5.12173038 7.87649831,4 6.49885818,4 Z"></path>
        </g>
    </g>
        </svg>
          
        <img id="file-ip-1-preview" class="rounded-md">
        </div>
        <label class="absolute bottom-6 bg-primary " for="file-ip-1">Upload image</label>
        <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);" name="mainImage">
        </div>

            <label for="text" class="block text-slate-700 text-xs font-medium mb-2 mt-3">Color</label>
        <input value="{{product.color}}" class="text-xs font-medium font-sans bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="text" name="color" placeholder="ex: red">

        <input class="hidden text-xs font-medium font-sans bg-whit pr-20 pl-2 py-1 rounded-md ring-1 ring-offset-1 ring-slate-300" type="text" value={{product._id}} name="id" placeholder="ex: red, starlight, black">

      <button type="submit" class="text-xs bg-primary py-2 w-40 text-white rounded-sm mt-6" >Save Changes</button >

      </div>
        


</form>