<style>
  .search-history::-webkit-scrollbar{
    display: none;
  }
</style>

<header class="w-full flex flex-col flex-wrap ">
  <div class="w-full h-24 bg-white border-b-light flex flex-col lg:flex-row lg:h-12">
    <div class=" w-full h-12 flex items-center lg:w-1/4">

      <a href="/"><h1 class="font-bold text-lg capitalize ml-8 text-primary">PikoCart  

        {{#if staff}}
          {{#if delivery_boy}}
            <span class="text-sm lowercase" > - delivery boy</span>
            {{else}}
            <span class="text-sm" > - staff</span>
          {{/if}}
        {{/if}}

      </h1></a>


{{#if user}}
    <a href="/logout" class="md:hidden block logout-1 opacity-40 hover:opacity-100">
<li class="text-slate-900 small-text absolute right-28 font-medium flex items-center justify-center cursor-pointer mr-6"><svg class=" mr-1" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9.89535 11.23C9.45785 11.23 9.11192 11.57 9.11192 12C9.11192 12.42 9.45785 12.77 9.89535 12.77H16V17.55C16 20 13.9753 22 11.4724 22H6.51744C4.02471 22 2 20.01 2 17.56V6.45C2 3.99 4.03488 2 6.52762 2H11.4927C13.9753 2 16 3.99 16 6.44V11.23H9.89535ZM19.6302 8.5402L22.5502 11.4502C22.7002 11.6002 22.7802 11.7902 22.7802 12.0002C22.7802 12.2002 22.7002 12.4002 22.5502 12.5402L19.6302 15.4502C19.4802 15.6002 19.2802 15.6802 19.0902 15.6802C18.8902 15.6802 18.6902 15.6002 18.5402 15.4502C18.2402 15.1502 18.2402 14.6602 18.5402 14.3602L20.1402 12.7702H16.0002V11.2302H20.1402L18.5402 9.6402C18.2402 9.3402 18.2402 8.8502 18.5402 8.5502C18.8402 8.2402 19.3302 8.2402 19.6302 8.5402Z" fill="#200E32"/>
</svg>
Logout</li></a>

{{/if}}

       <a href="/login" class="flex items-center justify-center">
         <button class=" signup-button bg-primary text-white py-1 px-3 rounded-sm font-medium hover:bg-blue-600 absolute right-6 md:hidden block capitalize" >
           {{#if user}}
            {{user.Name}}
            {{else}}
            {{#if staff}}
              {{staff.staff_name}}
              {{else}}
              Login
            {{/if}}
           {{/if}}
           </button>
       </a>
    
    </div>
    <div class=" w-full h-12 flex items-center lg:w-3/4 lg:pl-0 pl-5">
      <div class="h-full w-full flex items-center lg:justify-end justify-start lg:pr-8 lg:pl-0 pl-3">
        <ul class="flex" >


<a onclick="sellerClicked()" class="text-slate-700 font-medium flex items-center justify-center hover:text-slate-900 cursor-pointer mr-4">
  
  {{#if staff}}

  {{#if delivery_boy}}
  Go to delivery panel
  {{else}}
  Go to staff panel
  {{/if}}

  {{else}}
  Become a staff
  {{/if}}

</a>
{{#if staff}}

{{else}}
<a href="/my-orders" class="flex items-center justify-center"><li id="headerCategories" class="text-slate-700 font-medium ml-2 mr-4 flex items-center justify-center hover:text-slate-900 cursor-pointer"><svg class="flex items-center justify-center mr-1" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.7689 8.3818H22C22 4.98459 19.9644 3 16.5156 3H7.48444C4.03556 3 2 4.98459 2 8.33847V15.6615C2 19.0154 4.03556 21 7.48444 21H16.5156C19.9644 21 22 19.0154 22 15.6615V15.3495H17.7689C15.8052 15.3495 14.2133 13.7975 14.2133 11.883C14.2133 9.96849 15.8052 8.41647 17.7689 8.41647V8.3818ZM17.7689 9.87241H21.2533C21.6657 9.87241 22 10.1983 22 10.6004V13.131C21.9952 13.5311 21.6637 13.8543 21.2533 13.8589H17.8489C16.8548 13.872 15.9855 13.2084 15.76 12.2643C15.6471 11.6783 15.8056 11.0736 16.1931 10.6122C16.5805 10.1509 17.1573 9.88007 17.7689 9.87241ZM17.92 12.533H18.2489C18.6711 12.533 19.0133 12.1993 19.0133 11.7877C19.0133 11.3761 18.6711 11.0424 18.2489 11.0424H17.92C17.7181 11.0401 17.5236 11.1166 17.38 11.255C17.2364 11.3934 17.1555 11.5821 17.1556 11.779C17.1555 12.1921 17.4964 12.5282 17.92 12.533ZM6.73778 8.3818H12.3822C12.8044 8.3818 13.1467 8.04812 13.1467 7.63649C13.1467 7.22487 12.8044 6.89119 12.3822 6.89119H6.73778C6.31903 6.89116 5.9782 7.2196 5.97333 7.62783C5.97331 8.04087 6.31415 8.37705 6.73778 8.3818Z" fill="#200E32"/>
</svg>
My Orders</li></a>
{{/if}}

{{#if staff}}

{{else}}
          <a href="/cart" class="flex items-center justify-center"><li class="text-slate-700 font-medium flex items-center justify-center mr-4 hover:text-slate-900 cursor-pointer"><?xml version="1.0" encoding="UTF-8"?>
<svg class="m-1 " width="18px" height="18px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Iconly/Bold/Buy</title>
    <g id="Iconly/Bold/Buy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Buy" transform="translate(2.000000, 2.000000)" fill="#000000" fill-rule="nonzero">
            <path d="M5.42631305,16.9078576 C6.25566668,16.9078576 6.93513713,17.6018038 6.93513713,18.4590314 C6.93513713,19.3060539 6.25566668,20 5.42631305,20 C4.58696721,20 3.90749677,19.3060539 3.90749677,18.4590314 C3.90749677,17.6018038 4.58696721,16.9078576 5.42631305,16.9078576 Z M16.667552,16.9078576 C17.4969056,16.9078576 18.1763761,17.6018038 18.1763761,18.4590314 C18.1763761,19.3060539 17.4969056,20 16.667552,20 C15.8282062,20 15.1487357,19.3060539 15.1487357,18.4590314 C15.1487357,17.6018038 15.8282062,16.9078576 16.667552,16.9078576 Z M0.778225897,0.00011948936 L0.880056256,0.00873830234 L3.26319891,0.375101045 C3.60293414,0.437352096 3.85273944,0.722074116 3.88271608,1.06904719 L3.88271608,1.06904719 L4.07256812,3.35498742 C4.10254475,3.68257082 4.36234228,3.92749299 4.68209307,3.92749299 L4.68209307,3.92749299 L18.1765759,3.92749299 C18.7861009,3.92749299 19.1857894,4.14179989 19.5854779,4.61123404 C19.9851664,5.0806682 20.0551119,5.75420416 19.9651819,6.36548907 L19.9651819,6.36548907 L19.0159218,13.0600283 C18.8360619,14.3468902 17.756903,15.2949431 16.487892,15.2949431 L16.487892,15.2949431 L5.5863883,15.2949431 C4.25742405,15.2949431 3.15828068,14.2550444 3.04836635,12.9079725 L3.04836635,12.9079725 L2.12908281,1.78340351 L0.620258734,1.51807116 C0.220570238,1.44663553 -0.0592117093,1.04863701 0.0107337775,0.640433394 C0.0806792643,0.223045199 0.470375548,-0.0535127487 0.880056256,0.00873830234 Z M14.889138,7.7023559 L12.1212952,7.7023559 C11.7016223,7.7023559 11.3718793,8.03912388 11.3718793,8.46773768 C11.3718793,8.88614638 11.7016223,9.23311945 12.1212952,9.23311945 L12.1212952,9.23311945 L14.889138,9.23311945 C15.308811,9.23311945 15.638554,8.88614638 15.638554,8.46773768 C15.638554,8.03912388 15.308811,7.7023559 14.889138,7.7023559 L14.889138,7.7023559 Z"></path>
        </g>
    </g>
</svg>Cart 
{{/if}}


{{#if user}}
<span id="cart-count" style="height: 18px;width:18px" class="very-small-text ml-1 bg-primary text-white rounded-full p-1 flex items-center justify-center" >{{cartCount}}</span>
{{/if}}


</li></a>


{{#if user}}



<a href="/logout" class=" md:block hidden logout-2 opacity-40 hover:opacity-100">
<li class="text-slate-900 font-medium flex items-center justify-center cursor-pointer mr-6"><svg class="mr-1" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9.89535 11.23C9.45785 11.23 9.11192 11.57 9.11192 12C9.11192 12.42 9.45785 12.77 9.89535 12.77H16V17.55C16 20 13.9753 22 11.4724 22H6.51744C4.02471 22 2 20.01 2 17.56V6.45C2 3.99 4.03488 2 6.52762 2H11.4927C13.9753 2 16 3.99 16 6.44V11.23H9.89535ZM19.6302 8.5402L22.5502 11.4502C22.7002 11.6002 22.7802 11.7902 22.7802 12.0002C22.7802 12.2002 22.7002 12.4002 22.5502 12.5402L19.6302 15.4502C19.4802 15.6002 19.2802 15.6802 19.0902 15.6802C18.8902 15.6802 18.6902 15.6002 18.5402 15.4502C18.2402 15.1502 18.2402 14.6602 18.5402 14.3602L20.1402 12.7702H16.0002V11.2302H20.1402L18.5402 9.6402C18.2402 9.3402 18.2402 8.8502 18.5402 8.5502C18.8402 8.2402 19.3302 8.2402 19.6302 8.5402Z" fill="#200E32"/>
</svg>
Logout</li></a>


{{/if}}
        </ul>
        {{#if staff}}
<a class="font-medium py-1 px-2 text-blue-500 hover:text-red-500 mr-4" href="/staff-logout">Leave staff</a>
{{/if}}
       <a href="/login">
         <button class=" signup-button mr-4 bg-primary text-white py-1 px-3 rounded-sm font-medium hover:bg-blue-600 md:block hidden capitalize" >
           {{#if user}}
            {{user.Name}}
            {{else}}
            {{#if staff}}
              {{staff.staff_name}}
              {{else}}
              Login
            {{/if}}
           {{/if}}
           </button>
       </a>
        
      </div>
    </div>
  </div>
  <div id="categoriesSection" class="categories-section w-full h-10 bg-white border-b-light flex items-center lg:justify-center lg:px-20 pl-4 overflow-x-scroll overflow-y-hidden ">
   <ul class="flex" >
      <a href="/products/all"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >All</li></a>
      <a href="/products/mobile"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Mobiles</li></a>
      <a href="/products/fashion"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Fashion</li></a>
      <a href="/products/electronics"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Electronics</li></a>
      <a href="/products/beauty"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Beauty</li></a>
      <a href="/products/home"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Home</li></a>
      <a href="/products/appliances"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Appliances</li></a>
      <a href="/products/kids&toys"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Kids&Toys</li></a>
      <a href="/products/watch"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Watches</li></a>
      <a href="/products/laptop"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Pc&Laptops</li></a>
      <a href="/products/sports"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Sports</li></a>
      <a href="/products/shoe"><li class="small-text lg:mr-6 mr-4 text-slate-500 hover:text-slate-900 cursor-pointer" >Shoes</li></a>
   </ul>
  </div>
  <form action="/search" method="get" id="searchForm" class="w-full lg:pl-10 pl-6 h-10 header-search border-b-light flex items-center pr-6">
    <svg class="search-icon mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="search"><rect width="24" height="24" opacity="0"/><path d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"/></g></g></svg>
      <input autocomplete="off" class=" search-input flex-1 font-medium h-full focus:outline-none" type="search" name="search" id="search" placeholder="Search with electronics, mobiles, fashion, home & kitchen and etc...">
    </form>
  </div>
  <div id="recentSearch" class="hidden bg-red-500 w-full" >
    <section class="search-history h-12 w-full bg-white relative flex items-center pl-6 overflow-x-scroll" >
      {{#each searchHistory}}
        <h1 class="search-history-word flex justify-center py-2 px-2 bg-slate-100 very-small-text mx-1 font-semibold cursor-pointer">{{this.search}}</h1>
      {{/each}}
      </section>
  </div>
</header>

<script>
  let search = document.getElementById('search')
  let recentSearch = document.getElementById('recentSearch')
  let searchHistoryWord = document.querySelectorAll('.search-history-word');
  let searchForm = document.getElementById('searchForm');

  searchHistoryWord.forEach((word)=> {
    word.addEventListener('click',function(){
      search.value = this.innerText
      searchForm.submit()
    })
  })

  search.addEventListener('focus',function(){
    recentSearch.style.display='block'
  })
  document.querySelector('body').addEventListener('click',function(event){
    if(event.target.id == 'search'){
      recentSearch.style.display='block'
    }else if(event.target.classList[0] == 'search-history'){
      recentSearch.style.display='block'
    }else if(event.target.classList[0] == 'search-history-word'){
      recentSearch.style.display='block'
    }else{
      recentSearch.style.display='none'
    }
  })

   function sellerClicked(){
     location.href = '/staff-signup'
   }

</script>

