

{{!-- SECTION HERO --}}
<section>
  <div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" data-swiper-autoplay="2000"><img src="https://i.postimg.cc/FFL19Kwp/MCLP-Row1-5-Slider-Desk-Realme9-Pro-Plus-PDP-B2-B.jpg"></div>
    <div class="swiper-slide" data-swiper-autoplay="2000"><img src="https://i.postimg.cc/SR66NgC4/laptops.jpg" alt="banner image"></div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
</section>
{{!-- SECTION HERO --}}

{{!-- SECTION TODAY OFFERS --}}
<section>
    <div class="h-12 w-full flex items-center">
    <h1 class="text-sm ml-6 flex items-center justify-center" ><?xml version="1.0" encoding="UTF-8"?>
<svg class="m-1 opacity-100" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Iconly/Bold/Discount</title>
    <g id="Iconly/Bold/Discount" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Discount" transform="translate(1.999884, 2.000622)" fill="#14D39D" fill-rule="nonzero">
            <path d="M7.86536696,0.885378233 C9.0357912,-0.293621767 10.9464838,-0.293621767 12.1269116,0.876378233 L12.1269116,0.876378233 L12.8571763,1.60537823 C13.1372778,1.88537823 13.5174156,2.04637823 13.9175607,2.04637823 L13.9175607,2.04637823 L14.9479342,2.04637823 C16.6085361,2.04637823 17.9590256,3.39537823 17.9590256,5.05537823 L17.9590256,5.05537823 L17.9590256,6.08637823 C17.9590256,6.48537823 18.1190836,6.86537823 18.3991851,7.14537823 L18.3991851,7.14537823 L19.1194462,7.86537823 C19.6896529,8.42537823 19.9997653,9.18537823 19.9997653,9.98537823 C20.0097689,10.7853782 19.6996565,11.5463782 19.1394534,12.1153782 L19.1394534,12.1153782 L18.3991851,12.8553782 C18.1190836,13.1353782 17.9590256,13.5153782 17.9590256,13.9163782 L17.9590256,13.9163782 L17.9590256,14.9453782 C17.9590256,16.6053782 16.6085361,17.9563782 14.9479342,17.9563782 L14.9479342,17.9563782 L13.9175607,17.9563782 C13.5174156,17.9563782 13.1372778,18.1153782 12.8571763,18.3953782 L12.8571763,18.3953782 L12.1369153,19.1153782 C11.5467013,19.7063782 10.7764221,19.9953782 10.0061429,19.9953782 C9.23586372,19.9953782 8.46558452,19.7063782 7.87537058,19.1263782 L7.87537058,19.1263782 L7.14510589,18.3953782 C6.86500436,18.1153782 6.48486657,17.9563782 6.08472153,17.9563782 L6.08472153,17.9563782 L5.05434806,17.9563782 C3.39374615,17.9563782 2.04325664,16.6053782 2.04325664,14.9453782 L2.04325664,14.9453782 L2.04325664,13.9163782 C2.04325664,13.5153782 1.88319862,13.1353782 1.60309709,12.8453782 L1.60309709,12.8453782 L0.882836024,12.1353782 C-0.287588216,10.9663782 -0.297591842,9.05537823 0.872832398,7.87637823 L0.872832398,7.87637823 L1.60309709,7.14537823 C1.88319862,6.86537823 2.04325664,6.48537823 2.04325664,6.07537823 L2.04325664,6.07537823 L2.04325664,5.05537823 C2.04325664,3.39537823 3.39374615,2.04637823 5.05434806,2.04637823 L5.05434806,2.04637823 L6.08472153,2.04637823 C6.48486657,2.04637823 6.86500436,1.88537823 7.14510589,1.60537823 L7.14510589,1.60537823 Z M12.5770748,11.6953782 C12.0868971,11.6953782 11.6967557,12.0863782 11.6967557,12.5653782 C11.6967557,13.0553782 12.0868971,13.4453782 12.5770748,13.4453782 C13.0572488,13.4453782 13.4473903,13.0553782 13.4473903,12.5653782 C13.4473903,12.0863782 13.0572488,11.6953782 12.5770748,11.6953782 Z M13.187296,6.80537823 C12.8471727,6.46637823 12.2969733,6.46637823 11.95685,6.80537823 L11.95685,6.80537823 L6.81498623,11.9453782 C6.47486295,12.2853782 6.47486295,12.8453782 6.81498623,13.1853782 C6.97504425,13.3553782 7.19512402,13.4453782 7.42520742,13.4453782 C7.66529444,13.4453782 7.88537421,13.3553782 8.04543223,13.1853782 L8.04543223,13.1853782 L13.187296,8.04637823 C13.5274193,7.70637823 13.5274193,7.14537823 13.187296,6.80537823 Z M7.43521104,6.55537823 C6.95503699,6.55537823 6.55489195,6.94537823 6.55489195,7.42537823 C6.55489195,7.91637823 6.95503699,8.30537823 7.43521104,8.30537823 C7.91538509,8.30537823 8.3055265,7.91637823 8.3055265,7.42537823 C8.3055265,6.94537823 7.91538509,6.55537823 7.43521104,6.55537823 Z"></path>
        </g>
    </g>
</svg>Today <span class="text-sm mx-1 font-bold text-fourth" > Best </span> Deals</h1>
<h1 class="small-text absolute right-16 text-blue-500 hover:text-blue-600 font-medium cursor-pointer" >View all</h1>
  </div>
  <div class="w-full height-450-px flex flex-col items-center justify-center flex-wrap overflow-x-scroll overflow-y-hidden p-4 bg-slate-50">

    {{#each products}}

    <div class="today-deals-card h-full m-2 w-52 rounded-sm bg-white flex flex-col cursor-pointer">
      <div class="w-full height-55 flex items-center justify-center rounded-t-sm relative">
        <div class="h-4 w-12 top-0 right-0 z-50 small-text text-white flex items-center justify-center font-medium absolute offerperscard">{{this.offerpers}}% off</div>
          <img class="max-h-24 absolute" src="/product-images/{{this._id}}.webp" alt="">
      </div>
      <div class="w-full height-45 flex flex-col rounded-t-sm pl-6 pr-6 relative">
        <h1 class="text-xs font-medium" >{{this.name}} </h1>
        <p class=" text-fourth text-xs font-sans absolute bottom-12" >
₹{{this.dealprice}}  <span class="text-xs mt-4 text-slate-400 font-sans line-through" >
₹{{this.maxprice}}</span></p>

<button onclick="addToCart('{{this._id}}')" class="small-text bg-blue-600 hover:bg-blue-700 rounded-xs py-1 px-3  text-white mt-10 flex items-center justify-center mx-2" >Add to cart</button>

      </div>
  </div>

    {{/each}}

  </div>
</section>
{{!-- SECTION TODAY OFFERS --}}

<section>
  <div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" data-swiper-autoplay="4000"><img src="https://i.postimg.cc/g29JXPbp/MCLP-Row1-4-Slider-Desk-Galaxy-A13-CLP-B2-B.jpg" alt="banner image"></div>
    <div class="swiper-slide" data-swiper-autoplay="4000"><img src="https://i.postimg.cc/FFL19Kwp/MCLP-Row1-5-Slider-Desk-Realme9-Pro-Plus-PDP-B2-B.jpg"></div>
    <div class="swiper-slide" data-swiper-autoplay="4000"><img src="https://i.postimg.cc/SR66NgC4/laptops.jpg" alt="banner image"></div>
  </div>
</div>
</section>

<section>
  <div class="h-16 w-full bg-white flex items-center">
 <h1 class="text-sm ml-6 flex items-center justify-center" >All <span class="text-sm mx-1 font-bold text-fourth" > Products </span></h1>
 <h1 class="small-text absolute right-16 text-blue-500 hover:text-blue-600 font-medium cursor-pointer" >View all</h1>
  </div>
   <div class="home-deals-section w-full flex lg:justify-center flex-col lg:flex-row flex-wrap overflow-x-scroll lg:overflow-x-hidden overflow-y-scroll p-4 bg-slate-50">

     {{#each products}}
          <div class="today-deals-card height-400-px m-2 w-52 rounded-sm bg-white flex flex-col cursor-pointer">
      <div class="w-full height-55 flex items-center justify-center rounded-t-sm relative">
        <div class="h-4 w-12 top-0 right-0 z-50 small-text text-white flex items-center justify-center font-medium absolute offerperscard">{{this.offerpers}}% off</div>
        <img class="max-h-24 absolute" src="/product-images/{{this._id}}.webp">
      </div>
      <div class="w-full height-45 flex flex-col rounded-t-sm pl-6 pr-6 relative">
        <h1 class="text-xs font-medium" >{{this.name}}</h1>
        <p class=" mt-4 text-fourth text-sm font-sans absolute bottom-16" >
₹{{this.dealprice}}  <span class="text-xs mt-4 text-slate-400 font-sans line-through" >
₹{{this.maxprice}}</span></p>

<button onclick="addToCart('{{this._id}}')" class="small-text bg-blue-600 hover:bg-blue-700 rounded-xs py-1 px-3  text-white mt-10 flex items-center justify-center mx-2" >Add to cart</button>

      </div>
  </div>

    
    {{/each}}

  </div>
  
</section>

{{!-- SECTION MOBILES --}}

{{!-- <section>
  <div class="h-16 w-full bg-white flex items-center">
 <h1 class="text-sm ml-6 flex items-center justify-center" ><span class="text-sm mx-1 font-bold text-fourth" > Mobiles </span></h1>
 <h1 class="small-text absolute right-16 text-blue-500 hover:text-blue-600 font-medium cursor-pointer" >View all</h1>
  </div>
   <div class="mobiles-section w-full flex items-center flex-col  flex-wrap overflow-x-scroll  overflow-y-scroll p-4 bg-slate-50">

     {{#each products}}

      <div class="today-deals-card height-270-px m-2 w-96 rounded-sm bg-white flex flex-row cursor-pointer">
      <div class="width-45 h-full flex items-center justify-center rounded-t-sm relative overflow-hidden">
        <img class="max-h-48 -mb-16 absolute" src="/product-images/{{this._id}}.webp" alt="">
      </div>
      <div class="width-55 h-full flex flex-col justify-center rounded-t-sm pl-6 pr-6 relative">
        <h1 class="text-xs font-medium" >{{this.description}}</h1>
        <p class="small-text text-slate-400 mt-2 font-medium" >mobile</p>
       <div class="h-3 w-full flex items-center mt-2">
          <div class="h-3 w-3 bg-purple-600 top-0 right-0 small-text text-white flex items-center justify-center font-medium rounded-full mx-1"></div>
          <div class="h-3 w-3 bg-green-600 top-0 right-0 small-text text-white flex items-center justify-center font-medium rounded-full mx-1"></div>
          <div class="h-3 w-3 bg-black top-0 right-0 small-text text-white flex items-center justify-center font-medium rounded-full mx-1"></div>
       </div>
        <p class=" mt-2 text-fourth text-sm font-sans absolute bottom-4" >
₹{{this.dealprice}}  <span class="text-xs mt-4 text-slate-400 font-sans line-through" >
₹{{this.maxprice}}</span></p>
      </div>
  </div>

    {{/each}}

  </div>
  
</section> --}}

<section>
  <div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" data-swiper-autoplay="4000"><img src="https://i.postimg.cc/g29JXPbp/MCLP-Row1-4-Slider-Desk-Galaxy-A13-CLP-B2-B.jpg" alt="banner image"></div>
    <div class="swiper-slide" data-swiper-autoplay="4000"><img src="https://i.postimg.cc/FFL19Kwp/MCLP-Row1-5-Slider-Desk-Realme9-Pro-Plus-PDP-B2-B.jpg"></div>
    <div class="swiper-slide" data-swiper-autoplay="4000"><img src="https://i.postimg.cc/SR66NgC4/laptops.jpg" alt="banner image"></div>
  </div>
</div>
</section>