<style>
    .categories-section{
        display: none !important;
    }
    .header-search{
        display: none !important;
    }
</style>

<section class=" w-full  flex justify-center" >

<div class=" table-main-wrapper relative overflow-x-auto ">
<table class="w-full text-sm text-left text-gray-500 :text-gray-400">
<thead class="text-xs text-gray-700 uppercase bg-gray-50 :bg-gray-700 :text-gray-400">
<tr>
<th scope="col" class="px-6 py-3">
Date
</th>
<th scope="col" class="px-6 py-3">
Status
</th>
<th scope="col" class="px-6 py-3">
Total Products
</th>
<th scope="col" class="px-6 py-3">
Total Payable
</th>
<th scope="col" class="px-6 py-3">
Payment
</th>
<th scope="col" class="px-6 py-3">
Address
</th>
<th scope="col" class="px-6 py-3">
Products
</th>

</tr>
</thead>
<tbody>

{{#each orders}}
<tr class="bg-white border-b border-slate-100">
<th scope="row" class="px-6 py-4 capitalize font-medium text-gray-900 :text-white whitespace-nowrap">
{{this.date}}
</th>
{{#ifCond this.orderTrack 'Order Shipped'}}
    <td class="pl-6 py-4 capitalize text-green-500">
{{this.orderTrack}}
</td>
{{else}}

{{#ifCond this.orderTrack 'Order Delivered'}}
   <td class="pl-6 py-4 capitalize text-blue-500">
{{this.orderTrack}}
</td>

{{else}}

   <td class="pl-6 py-4 capitalize text-yellow-500">
{{this.orderTrack}}
</td>

{{/ifCond}}

{{/ifCond}}

<td class="px-6 py-4 capitalize">
{{this.products.length}} Products
</td>
<td class="px-6 py-4 capitalize font-sans">
₹{{this.totalAmount}}
</td>
<td class="px-6 py-4 capitalize font-sans">
{{this.deliveryDetails.paymentmethod}}
</td>
<th scope="row" class="px-6 py-4 width-150-px capitalize font-medium text-gray-900 :text-white whitespace-nowrap">
Mullampara...
</th>
<td class="pl-6 py-4 pr-6 ">
<a href="/my-orders/products/{{this._id}}" style="font-size: 13px !important;"  class="font-medium text-blue-500 ring-2 ring-offset-2 ring-blue-500 rounded-md px-2 py-1 hover:text-white hover:bg-blue-500 transition-colors">View products</a>
</td>
</tr>
{{/each}}



</tbody>
</table>
</div>

</section>