<style>
  .categories-section{ display: none !important; } .header-search{ display: none
  !important; }
</style>

<section
  class="height-91 w-full flex flex-wrap justify-center bg-slate-50 overflow-y-scroll"
>
  
  {{#each userOrderProducts}}

    <div class="today-deals-card height-55  m-2 w-52 rounded-sm bg-white flex flex-col cursor-pointer">
      <div class="w-full height-55 flex items-center justify-center rounded-t-sm relative">
        <div class="h-4 w-20 top-0 right-0 z-50 small-text text-white flex items-center justify-center font-medium absolute offerperscard">Quantity - {{this.quantity}}</div>
          <img class="max-h-24 absolute" src="/product-images/{{this.product._id}}.jpg" alt="">
      </div>
      <div class="w-full height-45 flex flex-col rounded-t-sm pl-6 pr-6 relative">
        <h1 class="text-xs font-medium" >{{this.product.name}}... </h1>

    <span class="small-text mt-2 mb-1 leading-loose" ><span class="small-text text-fourth" >Color -</span> {{this.product.color}}  <span class="ml-3 small-text uppercase" ></span>
    
    {{#if this.product.size}}
      <span class="small-text text-fourth capitalize" >Size -</span> {{this.product.size}}
    {{/if}}
    
    
    </span></span>

        <p class=" text-xs font-sans mt-1 mb-6" >
₹{{this.product.dealprice}}  <span class="text-xs mt-4 text-slate-400 font-sans line-through" >
₹{{this.product.maxprice}}</span></p>

      </div>
  </div>

    {{/each}}


</section>