<style>
  .header-search{ display: none
  !important; }
</style>

<section
  class="height-91 w-full flex flex-wrap justify-center bg-slate-50 overflow-y-scroll"
>

{{#each products}}

 <div class="today-deals-card height-550-px m-2 w-52 rounded-sm bg-white flex flex-col cursor-pointer">
      <div class="w-full height-55 flex items-center justify-center rounded-t-sm relative">
        <div class="h-4 w-12 top-0 right-0 z-50 small-text text-white flex items-center justify-center font-medium absolute offerperscard">{{this.offerpers}}% off</div>
        <img class="max-h-24 absolute" src="/product-images/{{this._id}}.jpg">
      </div>
      <div class="w-full height-45 flex flex-col rounded-t-sm pl-6 pr-6 relative">
        <h1 class="text-xs font-medium" >{{this.name}}...</h1>


        <span class="small-text mt-2 mb-1 leading-loose" ><span class="small-text text-fourth" >Color -</span> {{this.color}}  <span class="ml-3 small-text uppercase" ></span>
    
    {{#if this.size}}
      <span class="small-text text-fourth capitalize" >Size -</span> {{this.size}}
    {{/if}}
    
    
    </span></span>


        <p class=" mt-1 text-forth text-sm font-sans" >
₹{{this.dealprice}}  <span class="text-xs mt-4 text-slate-400 font-sans line-through" >
₹{{this.maxprice}}</span></p>

<button onclick="addToCart('{{this._id}}')" class="small-text bg-blue-600 hover:bg-blue-700 rounded-xs py-1 px-3  text-white mt-3 flex items-center justify-center mx-2" >Add to cart</button>

      </div>
  </div>

    

  {{/each}}

</section>